  <div class="container">
  <h5><span class="bg-light text-dark">マイページ</span></h5>
  <span class="font-weight-bold">登録情報</span>
  <%= link_to "編集する",edit_customers_path,class:"btn btn-success" %><br>
  
  <table border="1" style="border-collapse: collapse">
    
      <tr>
        <td class="bg-light">氏名</td>
        <td>
            <%=@customer.last_name %>　<%=@customer.first_name %>
        </td>
    　</tr>
    
    　<tr>
    　   <td class="bg-light">カナ</td>  
        <td>
            <%=@customer.last_name_kana %>　<%=@customer.first_name_kana %>
        </td>
      </tr>
      <tr>
          <td class="bg-light">郵便番号</td>
          <td>
            <%=@customer.postal_code %>
          </td>
      </tr>
      
        <tr>
          <td class="bg-light">住所</td>
          <td>
            <%=@customer.address %>
          </td>
        </tr>
          
        <tr>
          <td class="bg-light">電話番号</td>
          <td>
            <%=@customer.telephone_number %>
          </td>
        </tr>
      
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td>
            <%=@customer.email %>
          </td>
        </tr>
  </table>




<table>
  <tr>
    <td>
      <span class="font-weight-bold">配送先</span>
    </td>
    <td>
      <%= link_to "一覧を見る",deliveries_path,class:"btn btn-primary" %>
    </td>
  </tr>
  <tr>
    <td>
      <span class="font-weight-bold">注文履歴</span>
    </td>
    <td>
      <%= link_to "一覧を見る",orders_path,class:"btn btn-primary" %>
    </td>
  </tr>
</table>
  
  </div>
  