<div class="container">  
<h5><span class="bg-light text-dark">商品新規登録</span></h5>

  <% if @item.errors.any? %>
　<div id="error_explanation">
  <%=@item.errors.count %>個のエラーがあります
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%=message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @item,url:admin_items_path do |f| %>
<table align="center">
    <tr>
        <td>
            <label for="inputImage">商品画像</label>
        </td>
        <td>
            <div><%=f.file_field:item_image,placeholder:"商品画像",accept:"image/*" %></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputName">商品名</label>
        </td>
        <td>
            <div><%=f.text_field:name,autofocus:true,placeholder:"商品名", style: "width:100%" %></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputIntroduction">商品説明</label>
        </td>
        <td>
            <div><%=f.text_area:introduction,autofocus:true,placeholder:"ここに説明文を記述します", style: "width:100%" %></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputGenre_id">ジャンル</label>
        </td>
        <td>
            <div><%=f.collection_select(:genre_id, @genres, :id, :name) %></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputPrice">税抜価格</label>
        </td>
        <td>
            <div><%=f.text_field:price,placeholder:"1000", style: "width:100%" %></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputIs_active">販売ステータス</label>
        </td>
        <td><div>
          <%= f.radio_button :is_active, :true, checked: true %>
          <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
        </div></td>
    </tr>        
</table>

<div align="center">
    <%=f.submit '新規登録',class:"btn btn-success" %>
    <% end %>
</div>
</div>