<div class="container">  
<h5><span class="bg-light text-dark">管理者ログイン</span></h5>

<table align="center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <tr>
    <td>
  <div class="field">
    <%= f.label :メールアドレス %>
    </td>
    <td>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%" %>
  </div>
    </td>
  </tr>
  
  <tr>
    <td>
  <div class="field">
    <%= f.label :パスワード %>
    </td>
    <td>
    <%= f.password_field :password, autocomplete: "current-password", style: "width:100%" %>
    </td>
  </div>
  </tr>
  </table>
  
  <div align="center">

    <%= f.submit "ログイン",class:"btn btn-primary" %>
    <% end %>    
  </div>



</div>