<div class="container">
<div class="row">
<div class="col-md-3">
<%= render 'public/items/genres', genres: @genres %>
</div>
<div class="col-md-8 offset-md-1">
    <div class="bg-secondary d-flex align-items-center justify-content-center" style="height:300px;">
        
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要となります。
        
    </div>

    <h2 class="font-weight-bold">新着商品</h2>
    <table class="table">
    <tr>
    <% @items.each do |item| %>

    <td>
    <%= image_tag item.get_item_image(100,200) %><br>
    <%=link_to item_path(item.id) do %>
    <%=item.name %>
    <% end %><br>
    ¥<%=item.add_tax_price.to_s(:delimited) %>
    </td>
    <% end %>
    </tr>
    </table>


    <%=link_to "全ての商品を見る>", items_path, class:"pull-right" %>
</div>
</div>
</div>    




