<h2><%=@customer.last_name %><%=@customer.first_name %>さんの会員情報編集</h2>

<%= form_with model: @customer,url:admin_customer_path do |f| %>

  <div class="field">
    <%= f.label :名前 %>
    (姓)
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",placeholder:"令和" %>
    (名)
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder:"道子" %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>
    (セイ)
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana",placeholder:"レイワ" %>
    (メイ)
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",placeholder:"ミチコ" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",placeholder:"0000000" %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address",placeholder:"東京都渋谷区代々木神園町0-0" %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number",placeholder:"0000000000" %>
  </div>
  
  <label for="inputIs_active">会員ステータス</label>
    <div>

  <%= f.radio_button :is_active, :true, checked: true %>
  <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "退会", {value: :false, style: "display: inline-block;"} %>

    </div>

  <div class="actions">
    <button class="btn btn-success">
    <%= f.submit "変更を保存" %>
    </button>
  </div>
<% end %>