<<h5 class="font-weight-bold bg-light text-dark">注文履歴一覧</h5>

<table class="table">
    <thead class="thead-lignt">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>

    <tbody>

        <tr>
            <% @orders.each do |order| %>
          <td>
            <%=link_to admin_order_path(order.id) do %>
            <%= order.created_at.strftime('%Y/%-m/%-d %H:%M:%S') %>
            <% end %>
          </td>
          <td>
            <%=order.name %>
          </td>
          <td>
            <%=order.total_amount %>
          </td>
          <td>
            <% if order.wait_payment? %>
            入金待ち
            <% elsif order.confirm_payment? %>
            入金確認
            <% elsif order.making? %>
            製作中
            <% elsif order.preparing_ship? %>
            発送準備中
            <% else %>
            発送済
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>





<%= paginate @orders %>