<h5 class="font-weight-bold bg-light text-dark">注文情報確認</h5>

  <table border="1" style="border-collapse: collapse">
    <thead class="bg-light">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <% @cart_items.each do |f| %>
          <td>
            <%= image_tag f.get_item_image %>
            <%=f.item.name %>
          </td>
          <td>
            <%=f.add_tax_price %>
          </td>
          <td>
            <%=f.amount %>
          </td>
          <td>
            <%=f.item_subtotal %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  
  
    <table border="1" style="border-collapse: collapse">
      
      <tr>
      <td class="table-light">送料</td>
      <td> <%=@order.delivery_price %> </td>
      </tr>
      <tr>
      <td class="table-light">合計金額</td>
      <td><%= @total.round.to_s(:delimited)%></td>
      </tr>
      <tr>
      <td class="table-light">請求金額</td>
      <td> <%=@order.total_price.to_s(:delimited) %> </td>
      </tr>
      
    </table>
    
    <table>
      <tr>
      <td class="font-weight-bold">支払方法
      </td>
    <td>
      <% if @order.credit_card? %>
      クレジットカード
      <% else %>
      銀行振込
      <% end %>
    </td>
    </tr>
    
    <tr>
      <td class="font-weight-bold">
        お届け先
      </td>
      <td>
        〒<%= @order.postal_code %>　<%= @order.address %><br>
          <%= @order.name %>
      </td>
    
    </tr>
    </table>
    
    <%= form_with model: @order,url: orders_path do |f| %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :delivery_price, :value => @order.delivery_price %>
    <%= f.hidden_field :total_price, :value => @order.total_price %>
    <%= f.hidden_field :pay_method, :value => @order.pay_method %>
    
    <%= f.submit '注文を確定する' ,class:"btn btn-success" %>
    <% end %>
    
    
    
    
    
